<section class='splash-screen-section'>
    <%= stylesheet_link_tag "home" %>
    <h1 class='title'>BudgetTracker</h1>
    <div class='buttons'>
        <%= link_to "Login", new_user_session_path, class: 'btn login-btn' %>
        <%= link_to "Register", new_user_registration_path, class: 'btn' %>
    </div>
</section>