<%= stylesheet_link_tag "expense_new" %>

<%= render "shared/navbar", category: params[:category_id] %>

<section class="new-expense-section">
  <%= render "form", expense: @expense %>

  <br>

  <div>
    <%= link_to "Back to expenses", category_expenses_path %>
  </div>
</section>